<div class="contenedor_caja">
    <section class="caja-login">
        <article>
            <h3></h3>
        </article>
        <article>
            <input type="text" name="userText" placeholder="User" >
            <input type="password" name="passwordText" placeholder="Password">
        </article>
        <article>
            <button id="btn-enviar">Enviar</button>
        </article>
    </section>
</div>

<script src="js/user.js"></script>