<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/estilo3.css" />
        <link rel="icon" type="image/png" href="./image/icono.png">

    <title>Carta</title>
  </head>
  <body>
    <div class="contenedor2">
      {{{body}}}
    </div>
    <script type="module" src="js/ver.js"></script>
    <script
      src="https://kit.fontawesome.com/4989dcb279.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>